.hero {
  position: relative;
  height: 82vh;
  background-image: url("your-background-image.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start; /* Align content to the right edge */
  justify-content: center;
  padding-left: 64px;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay for better readability */
}

.hero-content {
  z-index: 1; /* Ensures the content is above the background image */
  margin-right: 20px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the image is behind the content */
}

/* Style for the image gallery component */
.image-gallery {
  max-width: 1200px;
  margin: 0 auto;
}

/* Style for the image grid */
.image-grid {
  display: flex;
  flex-wrap: wrap;
}

/* Style for each image item in the grid */
.image-item {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}
.footer-column p {
  margin-bottom: 1px; /* Adjust the margin as needed to reduce vertical spacing */
}

#copyright-column {
  text-align: right;
}

:root {
  --navbar-height: 100px ;
}

.navbar {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 10px 0;
  height: var(--navbar-height);
}

.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; /* Align contents to the right edge */
  align-items: flex-start;
}

.navbar-logo img {
  height: calc(var(--navbar-height) * 0.8);
  z-index: 1;
}

.navbar-nav {
  background-color: var(--clr-man);
  display: flex;
}

.navbar-nav a {
  text-decoration: none;
  color: var(--clr-light);
  margin: 0 15px;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-logo {
    margin-bottom: 10px;
  }
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar-nav a {
    margin: 0 0 10px 0;
  }
}
.switch-container {
  position: relative;
  padding-bottom: 20px; /* Add some spacing to accommodate larger slider */
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--switch-background);
  border-radius: var(--switch-height);
  cursor: pointer;
}

.switch-slider {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: calc(var(--switch-slider-size)); /* Adjusted for slider size */
  height: calc(var(--switch-slider-size)); /* Adjusted for slider size */
  background-color: var(--switch-slider-color);
  border-radius: 50%;
  box-shadow: var(--switch-slider-shadow);
  transition: transform 0.3s ease;
}

.switch-input:checked + .switch-label .switch-slider {
  transform: translateX(calc(var(--switch-width) - var(--switch-slider-size))) translateY(-50%);
  /* Adjusted for equal spacing on both sides */
}

/* Larger Variant */
.switch-container.large .switch-label {
  width: calc(var(--switch-width) + 10px); /* Adjusted for larger width */
  height: calc(var(--switch-height) + 10px); /* Adjusted for larger height */
}

.switch-container.large .switch-slider {
  width: calc(var(--switch-slider-size) + 10px); /* Adjusted for larger slider size */
  height: calc(var(--switch-slider-size) + 10px); /* Adjusted for larger slider size */
  transform: translateY(-50%); /* Center the slider vertically for the larger variant */
}

.testimonial-section {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.testimonial-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.testimonial {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.testimonial-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.testimonial-author {
  font-style: italic;
  color: #555;
}

.text-column {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.text-column h3 {
  margin-bottom: 10px;
}

.image-gallery {
  flex: 1;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/* Add styles for the "Read More" button as needed */
.read-more-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #2980b9;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-column {
  display: flex;
  flex-wrap: wrap;
}

.two-column > :first-child,
.two-column > :last-child {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.two-column > :first-child {
  order: 1; /* On smaller screens, move the first child (left column) on top */
}

@media only screen and (max-width: 600px) {
  .two-column {
    flex-direction: column; /* Switch to a single column on smaller screens */
  }
  .two-column > :first-child,
  .two-column > :last-child {
    order: 0; /* Reset the order for the default order on smaller screens */
  }
}
:root {
  --btn-padding: 0.75rem 1.5rem;
  --btn-lg-padding: 1rem 1.8rem;
  --btn-radius: 0.25rem;
  --btn-bg: var(--clr-accent);
  --btn-color: var(--clr-light);
  --btn-hover-bg: #158ace;
}

.button-filled {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  background-color: var(--clr-accent);
  color: var(--btn-color);
}
.button-filled:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button-filled:hover {
  background-color: var(--btn-hover-bg);
}

.button-outline {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);
}
.button-outline:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button-outline:hover {
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

.button-circle {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--clr-accent);
  color: var(--btn-color);
}
.button-circle:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button-circle:hover {
  background-color: var(--btn-hover-bg);
}

.button-text {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  color: var(--clr-accent);
}
.button-text:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button-text:hover {
  text-decoration: underline;
}

.button-disabled {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  background-color: var(--clr-accent);
  color: var(--btn-color);
}
.button-disabled:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button-disabled:hover {
  background-color: var(--clr-accent);
  cursor: not-allowed;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-small {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  font-size: calc(var(--fs-body) * 0.6);
  padding: var(--btn-padding); /* Adjust the padding as needed */
  display: flex;
  align-items: center; /* Center the content vertically */
}
.btn-small:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-large {
  display: inline-block;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;
  font-size: calc(var(--fs-body) * 1.2);
  padding: var(--btn-lg-padding); /* Adjust the padding as needed */
  display: flex;
  align-items: center; /* Center the content vertically */
}
.btn-large:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: var(--lh);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

p {
  font-size: var(--fs-body);
  line-height: var(--lh);
}

:root {
  --fw-reg: 400;
  --fw-bold: 700;
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #0e68ef;
  --clr-man: #3f84ec;
  --clr-woman: #ce31f9;
  --fw-bold: 700;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1rem;
  --fs-body: 1rem;
  --lh: 1.5;
  --switch-width: 60px; /* Adjust the width of the switch */
  --switch-height: 30px; /* Adjust the height of the switch */
  --switch-slider-size: 20px; /* Adjust the size of the slider */
  --switch-background: #ddd; /* Background color of the switch */
  --switch-slider-color: var( --clr-accent); /* Color of the slider when switched on */
  --switch-slider-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for the slider */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --form-input-padding: 0.5rem;
  --form-input-border: 1px solid #ccc;
  --form-input-radius: 0.25rem;
  --card-bg: #fff;
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --borderRadius: 4px ;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

section:nth-child(even) {
  background-color: #e0e0e0; /* Set the darker background color for odd sections */
}

.section__title {
  margin-bottom: 0.25em;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

/*# sourceMappingURL=output.css.map */
